<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        tools:ignore="GoogleAppIndexingWarning">
        <receiver
            android:name=".Executor"
            android:exported="true"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="mobi.maptrek.maps.offline.provider.action.INITIALIZE" />
            </intent-filter>
        </receiver>
        <provider
            android:name=".WorldOfflineMapProvider"
            android:authorities="mobi.maptrek.maps.offline.provider.worldmap"
            android:exported="true"
            tools:ignore="ExportedContentProvider" />

    </application>

</manifest>
